html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Muller", sans-serif;
  background-color: #e5e5e5;
}

.site-container {
  margin: 30px auto;
  max-width: 1170px;
}

/*Global classes*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  margin-bottom: 70px;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
}

.btn {
  padding: 0;
  cursor: pointer;
  border: 1px solid #cc9933;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  color: #cc9933;
}

.link-icon {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/link-arrow.svg);
}
/*---------Header----------*/
.header-container {
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-container--up {
  justify-content: space-between;
  align-items: center;
}

.header-up--left {
  align-items: center;
}

.header--link-logo {
  margin-right: 40px;
}

.header-container--up {
  margin-bottom: 30px;
}

.header-container--down {
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  height: 70px;
}

.header-navbar-li:not(:last-child) {
  margin-right: 45px;
}

.navbar-btn:not(:last-child) {
  margin-right: 40px;
}

.header-phone {
  color: #666666;
}

.header--link-personal {
  color: #cc9933;
  padding-left: 28px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../img/login-arrow.svg);
}

.header-navbar-link {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-down--buttons {
  padding-left: 35px; /*todo: ЭТО НЕ ПРАВИЛЬНО"*/
  border-left: 1px solid #e1e1e1;
}

.navbar-btn {
  padding: 13px 20px;
}

/*-------------Hotdeal------------*/
.hotdeal-content {
  justify-content: space-between;
}

.hotdeal--left_container {
  flex-direction: column;
  justify-content: space-between;
}

.hotdeal-card {
  width: 573px;
  min-height: 258px;
  padding: 40px 0 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.hotdeal-card:nth-child(1) {
  margin-bottom: 23px;
}

.hotdeal-card--wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.hotdeal-card--right {
  width: 573px;
  padding-left: 40px;
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
}

.hotdeal-card-right--wrapper {
  flex-direction: column;
  margin-bottom: 40px;
  align-items: flex-start;
  width: 300px;
}

.hotdeal--right_container {
  align-self: stretch;
}

.hotdeal-h3 {
  margin: 0 0 15px 0;
  color: #fff;
  font-size: 40px;
  line-height: 40px; /*todo: Убрать потом */
}

.hotdeal-p {
  color: #fff;
  font-size: 20px; /*todo: Убрать потом */
  line-height: 20px;
  margin-bottom: 47px;
}

.hotdeal-link {
  font-size: 16px;
  line-height: 16px;
  color: #ffcc66;
  padding-right: 14px;
}

.hotdeal1 {
  background-image: url(../img/1_hotdeal.png);
}

.hotdeal2 {
  background-image: url(../img/2_hotdeal.png);
}

.hotdeal3 {
  background-image: url(../img/3_hotdeal.jpg);
}

/*--------------------About-----------------*/

.main-about--container {
  max-width: 888px;
  margin-bottom: 70px;
}

.about-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/*--------------------Services-----------------*/

.services-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  width: 573px;
  min-height: 330px;
  background: #ffffff;
  border-radius: 15px 15px 15px 15px;
  background-position: 0 top;
  background-size: contain;
  background-repeat: no-repeat;
}

.services-item--article {
  padding-top: 165px;
}

.services-item--wrapper {
  padding-top: 26px;
  padding-left: 45px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #cc9933;
  padding-right: 17px;
}

.services-description {
  margin: 0;
  font-size: 16px;
  line-height: 32px; /*TO MUCH*/
  color: #000000;
}

.services-item:nth-child(-n + 2) {
  margin-bottom: 23px;
}

.service--image1 {
  background-image: url(../img/1_services.png);
}

.service--image2 {
  background-image: url(../img/2_services.png);
}

.service--image3 {
  background-image: url(../img/3_services.png);
}

.service--image4 {
  background-image: url(../img/4_services.png);
}

.services-link-icon {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/link-arrow-services.svg);
}
/*--------------------benefits-----------------*/

.benefit-ul {
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefit-item {
  width: 275px;
  min-height: 275px;
  align-self: stretch;
  margin-bottom: 23px;
  background: #ffffff;
  border-radius: 15px;
  background-position: top 40px left 45px;
  background-repeat: no-repeat;
}

.benefit-item--wrapper {
  padding: 116px 42px 41px 45px;
}

.benefit-p {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.benefit-image1 {
  background-image: url(../img/1_benefit.svg);
}

.benefit-image2 {
  background-image: url(../img/2_benefit.svg);
}

.benefit-image3 {
  background-image: url(../img/3_benefit.svg);
}

.benefit-image4 {
  background-image: url(../img/4_benefit.svg);
}

.benefit-image5 {
  background-image: url(../img/5_benefit.svg);
}

.benefit-image6 {
  background-image: url(../img/6_benefit.svg);
}

.benefit-image7 {
  background-image: url(../img/7_benefit.svg);
}

.benefit-image8 {
  background-image: url(../img/8_benefit.svg);
}

/*--------------------Hotels-----------------*/

.hotels-ul {
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-name,
.hotel-p,
.hotel-price--dark,
.hotel-price--gray,
.hotel-location {
  margin: 0;
}

.hotel-card {
  width: 374px;
  min-height: 440px;
  background: #ffffff;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
}

.hotel-wrapper {
  padding: 36px 45px 40px 45px;
}

.hotel-top {
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-price-gray,
.hotel-location {
  color: #999999;
}

.hotel-strong {
  font-size: 20px;
  line-height: 20px;
}

.hotel-button {
  padding: 13px 20px;
}

.hotel-top,
.hotel-name,
.hotel-location {
  margin-bottom: 20px;
}

.hotel-article {
  align-self: stretch;
}

.hotel-article:nth-child(-n + 6) {
  margin-bottom: 23px;
}

.hotel-more {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #ffffff;
  padding-right: 17px;
  margin-bottom: 27px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(../img/link-arrow-white.svg);
}

.hotel-card-background {
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/9_hotel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}
